
<div class="container">


  <div class="content">
    <% @planets.each do |planet| %>
    <table class="table-grid">
      <thead>
        <tr><img class="planet-table-pic"src="<%= planet.image %>"></tr>
      </thead>
      <tbody>
        <tr>
          <td>Name:</td>
          <td><a href="/planets/<%= planet.id %>/edit"><%= planet.name %></a></td>
        </tr>
        <tr>
          <td>Diameter in km:</td>
          <td><%= planet.diameter %> </td>
        </tr>
        <tr>
          <td>Mass in kg:</td>
          <td><%= planet.mass %> </td>
        </tr>
      </tbody>
    </table>
    <% end %>
  </div>
</div>
